body{
    background-color:lightcoral;
}
  #title{
    font-family: Inter, sans-serif;
    color: white;
    font-weight:700px;
    font-size:3.5em;

    position: relative;
    margin-left:auto;
    margin-right:auto;
    bottom:100px;
  }
  #name{
    font-family: Inter, sans-serif;
    color:red;
    font-weight:700px;
    text-align:center;
  }
  #pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:700px;
  }
.buttons{
  text-align:center;
  width:100%;

}
.youtube{
  height:70px;
  width:70px;
  border-radius:10px;
  border-color:transparent;
  color:lightcoral;
  background-color:white;
  position:relative;

  bottom:75px;
  left:155px;
}
.twitch{
  background-color:white;
  border-color:transparent;
  border-radius:10px;
  height:70px;
  width:70px;
  color:lightcoral;
  position:relative;

  bottom:75px;

  left:190px;
}
.discord{
  background-color:white;
  border-color:transparent;
  border-radius:10px;
  height:70px;
  width:70px;
  color:lightcoral;
  position:relative;

  bottom:75px;

  right:102px;
}
.github{
  background-color:white;
  border-color:transparent;
  border-radius:10px;
  height:70px;
  width:70px;
  color:lightcoral;
  position:relative;

  bottom:75px;

  left:150px;
}
.twitter{
  background-color:white;
  border-color:transparent;
  border-radius:10px;
  height:70px;
  width:70px;
  color:lightcoral;
  position:relative;

  bottom:75px;

  right:360px;
}
.twitter:hover{
  background-color:lightgrey;
}
.discord:hover{
  background-color:lightgrey;
}
.youtube:hover{
  background-color:lightgrey;
}
.twitch:hover{
  background-color:lightgrey;
}
.github:hover{
  background-color:lightgrey;
}
#latesttitle{
  font-family: Inter, sans-serif;
  color: white;
  font-weight:700px;
  font-size:3.5em;
}
#latest{
  border-radius:15px;
}
