:root {
  --bg-color: lightcoral;
  --shadow: #4a000055;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Inter, sans-serif;
  background-color: var(--bg-color);
}

.img-wrapper {
  margin-top: 2em;
}

img {
  max-width: 20em;
  border-style: solid;
  border-width: 1em;
  border-radius: 100%;
  border-color: whitesmoke;
  box-shadow: 0 5px 5px 2px var(--shadow);
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.button {
  margin: 2em;
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border-color: transparent;
  color: lightcoral;
  background-color: white;
  box-shadow: 0 5px 5px 2px var(--shadow);
  transition: all 500ms;
}

.button:hover {
  transform: scale(1.2);
  background-color: lightgrey;
}

#title {
  color: white;
  font-size: 3.5em;
  margin: auto;
}

#name {
  color: rgb(255, 58, 58);
  text-align: center;
  text-shadow: 2px 2px var(--shadow);
}


#latesttitle {
  padding: 0.5em;
  color: white;
  font-size: 3.5em;
}

#latest {
  box-shadow: 0 5px 5px 2px var(--shadow);
  border-radius: 15px;
}
#twittertimeline {
  padding: 0.5em;
  color: white;
  font-size: 3.5em;
}
.twitter-timeline {
  border-radius:15px;
}