body{
    background-color:lightcoral;
}
  #title{
    font-family: Inter, sans-serif;
    color: white;
    font-weight:700px;
    font-size:3.5em;

    position: relative;
    text-align: center;
    bottom:100px;
  }
  #name{
    font-family: Inter, sans-serif;
    color:red;
    font-weight:700px;
    text-align:center;
  }
  #pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:700px;
  }
.buttons{
  text-align:center;
  width:100%;

}
.yt{
  height:70px;
  width:70px;
  border-radius:10px;
  border-color:transparent;
  color:lightcoral;
  background-color:white;
  position:relative;

  bottom:75px;
  left:75px;
}
.twitch{
  background-color:white;
  border-color:transparent;
  border-radius:10px;
  height:70px;
  width:70px;
  color:lightcoral;
  position:relative;

  bottom:75px;

  left:100px;
}
.discord{
  background-color:white;
  border-color:transparent;
  border-radius:10px;
  height:70px;
  width:70px;
  color:lightcoral;
  position:relative;

  bottom:75px;

  right:172px;
}
.github{
  background-color:white;
  border-color:transparent;
  border-radius:10px;
  height:70px;
  width:70px;
  color:lightcoral;
  position:relative;

  bottom:75px;

  left:110px;
}

